<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$( "#lanzarModal" ).click(function() {
			$("#eliminarModal").modal()
		});
	});
</script>

{% load static %}
<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% if request.user.is_authenticated and request.user.is_staff  %}

	{% include 'HomeSwitchHome/navBar.html' %}

	<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Administración</h1>
				<p class="lead"></p>
			</div>
		</div>

	</div>
			<ul class="messages">
			    {% for message in messages %}
			    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
			    {% endfor %}
			</ul>
	<div class="menu-lateral-container">

		<a class='btn btn-info btn-lg btn-block' href="{% url 'agregar_prop' %}">Agregar Propiedad</a>
			<a class="btn btn-info btn-lg btn-block" href="{% url 'listado_prop' %}">Ver Listado Propiedades</a>
			<a class="btn btn-info btn-lg btn-block" href="{% url 'listado_prop_res' %}">Ver Listado Reservas</a>
		<a class="btn btn-success btn-lg btn-block" href="{%url 'abrir_subastas'%}">Abrir subastas</a>
		<a class="btn btn-danger btn-lg btn-block" id="lanzarModal" href="#">Cerrar subastas</a>
		<a class="btn btn-danger btn-lg btn-block"  href="{% url 'listado_usuarios' %}">Listado usuarios</a>
		<a class="btn btn-info btn-lg btn-block"  href="{% url 'ver_solicitudes' %}">ver Solicitudes Alta/Baja Premium</a>
	</div>
<div id="eliminarModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cerrar Subastas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div class="modal-body">
				<p>¿Confirma que desea Cerrar subastas?</p>
			</div>
		  	<a class="btn btn-danger btn-sm" href="{%url 'cerrar_subastas' %}" style="margin: 14px;">Confirmar</a>

    </div>
  </div>
</div> 	






{% elif not request.user.is_authenticated %}

	<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">¡Bienvenido/a a la página de Administración de HOME SWITCH HOME!</h1>
				<p class="lead"></p>
			</div>
		</div>

	</div>

	<div class="botones-sesion-container">
		<div class="botones-sesion-contenido">
			<a class="btn btn-outline-success btn-lg" href="{% url 'InicioAdmin' %}">Iniciar Sesión</a>
			<a class="btn btn-outline-primary btn-lg" href="{% url 'RegistroAdmin' %}">Registrarse</a>
		</div>
	</div>
{% endif %}
{% if not request.user.is_staff and request.user.is_authenticated %}
	Acceso Denegado.
{% endif %}




<div id="eliminarModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cerrar Subastas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

			<div class="modal-body">
				<p>¿Confirma que desea Cerrar todas las subastas que se encuentren abiertas?</p>
			</div>
		  	<a class="btn btn-danger btn-sm" href="{%url 'cerrar_subastas' %}" style="margin: 14px;">Cerrar Subastas</a>	
    </div>
  </div>
</div> 	



<script>
	$(document).ready(function(){
		$( "#lanzarModal" ).click(function() {
			$("#eliminarModal").modal()
		});
	});
</script>
