<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% if request.user.is_authenticated and request.user.is_staff  %}

	{% include 'HomeSwitchHome/navBar.html' %}

	<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Administración</h1>
				<p class="lead"></p>
			</div>
		</div>

	</div>
			<ul class="messages">
			    {% for message in messages %}
			    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
			    {% endfor %}
			</ul>
	<div class="menu-lateral-container">
		<a class='btn btn-outline-info btn-lg btn-block' href="{% url 'agregar_prop' %}">Agregar Propiedad</a>
			<a class="btn btn-outline-info btn-lg btn-block" href="{% url 'listado_prop' %}">Ver Listado Propiedades</a>
		<a class="btn btn-outline-info btn-lg btn-block" href="{%url 'abrir_subastas'%}">Abrir subastas</a>
		<a class="btn btn-outline-info btn-lg btn-block" href="{%url 'cerrar_subastas'%}">Cerrar subastas</a>
	</div>

{% elif not request.user.is_authenticated %}

	<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">¡Bienvenido/a a la página de Administración de HOME SWITCH HOME!</h1>
				<p class="lead"></p>
			</div>
		</div>

	</div>

	<div class="botones-sesion-container">
		<div class="botones-sesion-contenido">
			<a class="btn btn-outline-success btn-lg" href="{% url 'InicioAdmin' %}">Iniciar Sesión</a>
			<a class="btn btn-outline-primary btn-lg" href="{% url 'RegistroAdmin' %}">Registrarse</a>
		</div>
	</div>
{% endif %}
{% if not request.user.is_staff and request.user.is_authenticated %}
	Acceso Denegado.
{% endif %}