<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>
    <div class="col-6">
    	<form method="post"> {% csrf_token %}
			{{ form|crispy }}
		<input class="btn btn-primary" type="submit" value="Listo">
		</form>
    </div>