<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Administración</h1>
			<p class="lead"></p>
		</div>
	</div>
	<div class="prop-container">

		<h1>
			{% if request.path == '/administracion/agregar_propiedad' %} 
				Agregar Propiedad
			{% else %}
				Modificar Propiedad
			{% endif %}
		</h1>
		<hr>

		{% load crispy_forms_tags %}
		<div class="form-container">
			<form method="post"> {% csrf_token %}
				{{ form|crispy }}
				{{ formset.as_p }}
				<input class="btn btn-primary" type="submit" value="Listo">
			</form>
		</div>

	</div>
</div>
