<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Administración</h1>
			<p class="lead"></p>
		</div>
	</div>
	<div class="prop-container">

		<h1>
			{% if request.path == '/administracion/agregar_propiedad' %} 
				Agregar Propiedad
			{% else %}
				Modificar Propiedad
			{% endif %}
		</h1>
		<ul class="messages">
		{% for message in messages %}
		<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
		{% endfor %}
		</ul>

		<hr>
		{% load crispy_forms_tags %}
		<div class="form-container">
			<form id='form' action="" enctype="multipart/form-data" method="post"> 
				{% csrf_token %}
				{{ form|crispy }}
				{{ formset.as_p }}

				
				{% if not request.path == '/administracion/agregar_propiedad' %} 
						<a class='btn btn-danger btn-sm' href="{{ id_prop }}/borrar_fotos">Borrar fotos</a>
				{% endif %}
				
				<hr>
				{% if not request.path == '/administracion/agregar_propiedad' %} 

				<div id="eliminarModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Propiedad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div class="modal-body">
				<p>¿Confirma que desea Actualizar la propiedad?</p>
			</div>
			  <input class="btn btn-primary btn-sm" style="margin: 14px;" name='submit' type="submit" value="Listo">
    </div>
  </div>
</div> 	
				{% else %}
			<input class="btn btn-primary btn-sm" style="margin: 14px;" name='submit' type="submit" value="Listo">
			<a class="btn btn-info btn-sm" href="{%url 'administracion' %}">Cancelar</a>

				{% endif %}


			</form>
			{% if not request.path == '/administracion/agregar_propiedad' %} 

		<button id="lanzarModal" class="btn btn-info btn-sm"> Listo </button>
		<a class="btn btn-info btn-sm" href="{%url 'administracion' %}">Cancelar</a>
				{% endif %}

		</div>

	</div>
</div>

<script>
	$(document).ready(function(){
		$( "#lanzarModal" ).click(function() {
			$("#eliminarModal").modal()
		});
	});
</script>