			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

<title>Home Switch Home</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Buscar por Zona</h1>
				<p class="lead"></p>
			</div>
	</div>
		<ul class="messages">
		{% for message in messages %}
		<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
		{% endfor %}
		</ul>

		
			{% csrf_token %}
			{% if zonas %}
				{% for zona in zonas %} 

					<h4><a class='list-group-item list-group-item-action bg-light text-info' href="porzona/{{zona.localidad}}">{{ zona.localidad }} 

					</a></h4>
						
				{% endfor %}
			{% else %}

				<div class="listado-zona-container">
					<h3 class="listado-zona-msg">
						
						No hay zonas para filtrar

					</h3>
				</div>
			{% endif %}


</div>
