<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

<title>Home Switch Home</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<img class="logo-hsh-home" src="{% static "logotext.png" %}">
			<p class="lead"></p>
		</div>
	</div>

<div class="prop-container">
		<div>
			<h1>Cuadrilla de Propiedades</h1>
			<a class="btn btn-primary btn-sm" href="{% url 'buscar_x_fecha' %}">Buscar por fecha</a>
			<a class="btn btn-primary btn-sm" href="{% url 'buscar_x_zona'%}">Buscar por zona</a>
		</div>
		<hr>
		<ul class="list-group">
			{% if propiedades %}
				{% for Propiedad in propiedades %} 
					<div class="media" style="padding: 10px; background-color:#ddd">
						{% for f in Propiedad.foto_set.all|slice:":1" %}
							<img src="{{f.archivo.url}}" class="mr-3" alt="Sin Imagen" class="img-thumbnail" style="height:75px; left:0px;">
						{% endfor %}				
						<div class="media-body">
						<h5 class="mt-0">{{ Propiedad.titulo }}</h5>
						{{Propiedad.localidad}}
						</div>
						
						<a class="btn btn-outline-success btn-sm" href='propiedad/{{ Propiedad.id}}'>Ver detalle</a>
					</div>
				{% endfor %}
						
			{% else %}

				<div class="listado-propiedad-container">
					<h3 class="listado-propiedad-msg">
						
						No hay propiedades que mostrar

					</h3>
				</div>
			{% endif %}
		</ul>
	</div>
