<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			{# <h1 class="display-4">Administración</h1> #}
			<img class="logo-hsh-home" src="{% static "logotext.png" %}">
			<p class="lead"></p>
		</div>
	</div>

</div>
			<ul class="messages">
			    {% for message in messages %}
			    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
			    {% endfor %}
			</ul>
			
	<div class="menu-lateral-container">
		<a class='btn btn-outline-info btn-lg btn-block' href="cuadrillaprop">Ver propiedades</a>
	</div>
