
{% for Propiedad in propiedades %} 
	<div class="Propiedad">
		<div class="propiedad-fila">{{ Propiedad.titulo }}</div>
		<details>	
			<div class="propiedad-fila">{{ Propiedad.descripcion }}</div>
			<div class="propiedad-fila">{{ Propiedad.pais }}</div>
			<div class="propiedad-fila">{{ Propiedad.provincia }}</div>
			<div class="propiedad-fila">{{ Propiedad.direccion }}</div>
		</details>
	<a class="btn btn-primary btn-sm" href="{% url 'modificar_prop' Propiedad.id %}">Modificar</a>
	<a class="btn btn-primary btn-sm">Eliminar</a>
	</div>

	
	
	
	
	
	
{% endfor %}
