<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Administración</h1>
			<p class="lead"></p>
		</div>
	</div>
<ul class="messages">
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
{% endfor %}
</ul>

<div class="prop-container">
		<h1>Listado de Propiedades</h1>
		<hr>
		<ul class="list-group">
			{% if propiedades %}
				{% for Propiedad in propiedades %} 

					<a class='list-group-item list-group-item-action' href='/administracion/propiedad/{{Propiedad.id}}'>{{ Propiedad.titulo }} 

					{% if Propiedad.subastas_activas %}
					<span class="badge badge-primary">{{Propiedad.subastas_activas}} Subastas activas</span>
					{% endif %}

					</a>
						
				{% endfor %}
			{% else %}

				<div class="listado-propiedad-container">
					<h3 class="listado-propiedad-msg">
						
						No hay propiedades que mostrar

					</h3>
				</div>
			{% endif %}
		</ul>
	</div>
