<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static "administracion.css" %}">

<title>Administracion</title>

{% include 'HomeSwitchHome/navBar.html' %}

	<div class="prop-container">
		<ul class="messages">
		{% for message in messages %}
		<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
		{% endfor %}
		</ul>
		<h1>{{Propiedad.titulo}}</h1>
		<hr>
		<a class="btn btn-outline-danger" href="{% url 'modificar_prop' Propiedad.id %}">Modificar</a>
	
		<a class="btn btn-danger" id="lanzarModal" href="#">Eliminar</a>
		
		<a class="btn btn-outline-danger" href="{% url 'generar_semanas' Propiedad.id %}">Generar Semanas</a>
		
		<a class="btn btn-outline-primary" href="{% url 'habilitar_reservas' Propiedad.id %}">Habilitar Reserva</a>
		<a class="btn btn-outline-warning" href="{% url 'habilitar_hotsale' Propiedad.id %}">Habilitar Hot-Sale</a>
		
		<hr>

		<div class="row">
			<div class="col">
				Descripcion:		<h5>{{Propiedad.descripcion}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Pais:		<h5>{{Propiedad.pais}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Provincia:		<h5>{{Propiedad.provincia}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Localidad:		<h5>{{Propiedad.localidad}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Direccion:		<h5>{{Propiedad.direccion}}</h5>
			</div>

		</div>
		
		<div class="row gallery">
			{% for f in Propiedad.foto_set.all %}
				<div class="col-md-3">
					<img src="{{f.archivo.url}}" alt="Sin Imagen" class="img-thumbnail">
				</div>
			{% endfor %}
		</div>
		<br><br>
		<div class="p-3 mb-2 bg-secondary text-light"><h6>Semanas Activas</h6></div>
			{% for s in semanas %}
				{% if s.habilitada_reserva %}
					<div class="col-md-4">
						[{{s.numero_semana}}]{{s.fecha_inicio_sem}} 
						<span class="badge badge-primary">En Reserva</span>
					</div>
				{% elif s.habilitada_subasta %}
					<div class="col-md-4">
						[{{s.numero_semana}}]{{s.fecha_inicio_sem}} 
					<span class="badge badge-primary">En Subasta</span>
					</div>
				{% endif %}
			{% endfor %}
			<hr>

	</div>


<div id="eliminarModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Propiedad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

		{% if res or sub  %}
			<div class="modal-body">
				<p>La propiedad tiene  {{res}} Reservas y {{sub}} Subastas Activas.</p>
		  		  	<a class="btn btn-danger btn-sm" href="{%url 'eliminar_propiedad' Propiedad.id %}" style="margin: 14px;">Eliminar de todos modos</a>
			</div>	
		{% else %}
			<div class="modal-body">
				<p>¿Confirma que desea eliminar la propiedad?</p>
			</div>
		  	<a class="btn btn-danger btn-sm" href="{%url 'eliminar_propiedad' Propiedad.id %}" style="margin: 14px;">Eliminar</a>	
		{% endif %}
    </div>
  </div>
</div> 	



<script>
	$(document).ready(function(){
		$( "#lanzarModal" ).click(function() {
			$("#eliminarModal").modal()
		});
	});
</script>