<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load crispy_forms_tags %}
<ul class="messages">
{% for message in messages %}
	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
{% endfor %}
</ul>
			
<div class="col-6">
	<form method="post"> {% csrf_token %}
		  {{ perfil_form.non_field_errors }}
		<h5>Autenticacion</h5>
		{{ user_form|crispy }}
		<hr>
		<h5>Perfil</h5>
		{{ perfil_form|crispy }}
		<hr>
		<h5>Tarjeta</h5>
		{{ tarj_form|crispy }}
	<input class="btn btn-primary" type="submit" value="Listo">
	</form>
</div>
