<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

<title>Home Switch Home</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>{{Propiedad.titulo}}</h1>
				<p class="lead"></p>
			</div>
		</div>
	<div class="prop-container">
		<hr>

		<div class="row">
			<div class="col">
				Descripcion:		<h5>{{Propiedad.descripcion}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Pais:		<h5>{{Propiedad.pais}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Provincia:		<h5>{{Propiedad.provincia}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Localidad:		<h5>{{Propiedad.localidad}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Direccion:		<h5>{{Propiedad.direccion}}</h5>
			</div>
		</div>

		<div class="row gallery">
		{% for f in Propiedad.foto_set.all %}
		<div class="col-md-3">
			<img src="{{f.archivo.url}}" alt="Sin Imagen" class="img-thumbnail">
		</div>
		{% endfor %}
		</div>


		<br><br>
		<div class="p-3 mb-2 bg-secondary text-light"><h6>Semanas Activas</h6></div>
			
		{% if semanas %}
			{% for s in semanas %}
				{% if s.habilitada_reserva %}
					<div class="col-md-10">
						
					<span class="badge badge-primary">En Reserva</span><h5>	{% if s in user_favs %}
				<a href="{% url 'quitar_fav' s.id %}"><i class="fas fa-star text-warning"></i></a>
			{% else %}
				<a href="{% url 'agregar_fav' s.id %}"><i class="far fa-star text-warning"></i></a>
			{% endif %}({{s.numero_semana}}°){{s.fecha_inicio_sem}} a {{s.fecha_fin_sem}} 
				{% if not es_premium %}
					<a class="btn btn-primary btn-sm disabled" href="#">Reservar</a>(Debes ser Premium para acceder.)
				{% else %}
					<a class="btn btn-primary btn-sm " href="{% url 'realizar_reserva' s.id %}">Reservar</a>
				{% endif %}
					</h5>
					</div>
				{% elif s.habilitada_subasta %}
					<div class="col-md-10">
						
					<span class="badge badge-success">En Subasta</span><h5>	{% if s in user_favs %}
				<a href="{% url 'quitar_fav' s.id %}"><i class="fas fa-star text-warning"></i></a>
			{% else %}
				<a href="{% url 'agregar_fav' s.id %}"><i class="far fa-star text-warning"></i></a>
			{% endif %}({{s.numero_semana}}°){{s.fecha_inicio_sem}}a {{s.fecha_fin_sem}}
				<a class="btn btn-success btn-sm" href="{% url 'ingresar_subasta' s.subasta_id %}">Ingresar a Subasta</a></h5> 
					</div>
					{% elif s.habilitada_hotsale %}
					<div class="col-md-10">
					
					<span class="badge badge-warning">Hot-Sale</span><h5>	{% if s in user_favs %}
				<a href="{% url 'quitar_fav' s.id %}"><i class="fas fa-star text-warning"></i></a>
			{% else %}
				<a href="{% url 'agregar_fav' s.id %}"><i class="far fa-star text-warning"></i></a>
			{% endif %}({{s.numero_semana}}°){{s.fecha_inicio_sem}}a {{s.fecha_fin_sem}}
				<a class="btn btn-success btn-sm" href="{% url 'realizar_reserva_hotsale' s.id %}">Reservar</a></h5> 
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			No hay Semanas Activas por el momento ..
		{% endif %}
			<hr>
		
	</div>
</div>


