<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<ul class="messages">
	{% for message in messages %}
	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></div>
	{% endfor %}
	</ul>
	<div class="prop-container">
		<div class="p-3 mb-2 bg-info text-light">
			<h4>Mis Reservas</h4>
		</div>
		<hr>
		{% if l_res %}
			<ul class="list-group">
				{% for r in l_res %}
					<a class='list-group-item list-group-item-action bg-light'>
						<p class="text-secondary">Propiedad: {{r.titulo_prop}}</p>
						<p class="text-info">Fecha de Reserva: {{r.fecha_reserva}}</p>
						<p class="text-info">
							Estado:
							{% if r.cancelada %}
							CANCELADA
							{% else %}
							RESERVADA (por {{r.reservada_desde}})
								{% if r.fecha_reserva < hoy %}
									<a class='bt-ingresar btn btn-secondary btn-sm' href='#'>Cancelar Reserva</a><i class="text-secondary">(Periodo cancelacion terminado)</i> 
									<br><br><br>

								{% else %}
								<a class='bt-ingresar btn btn-danger btn-sm' href='{% url 'ver_cancelar_reserva' r.id %}' >Cancelar Reserva</a> 
									<br><br>
							{% endif %}
							{% endif %}
						</p>

					</a>	<br>

				{% endfor %}
			</ul>
		{% else %}
			<h5>Sin reservas.</h5>
		{% endif %}
	</div>
</div>





<script>
	$(document).ready(function(){
		$( "#lanzarModal" ).click(function() {
			$("#eliminarModal").modal('show')
		});
	});
</script>