<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static "home.css" %}">

<title>Home Switch Home</title>

{% include 'HomeSwitchHome/navBar.html' %}

<div class="main-container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<img class="logo-hsh-home" src="{% static "logotext.png" %}">
			<p class="lead"></p>
		</div>
	</div>
	<div class="prop-container">
		<h1>{{Propiedad.titulo}}</h1>
		<hr>

		<div class="row">
			<div class="col">
				Descripcion:		<h5>{{Propiedad.descripcion}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Pais:		<h5>{{Propiedad.pais}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Provincia:		<h5>{{Propiedad.provincia}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Localidad:		<h5>{{Propiedad.localidad}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				Direccion:		<h5>{{Propiedad.direccion}}</h5>
			</div>
		</div>

		<div class="row gallery">
		{% for f in Propiedad.foto_set.all %}
		<div class="col-md-3">
			<img src="{{f.archivo.url}}" alt="Sin Imagen" class="img-thumbnail">
		</div>
		{% endfor %}
		</div>
		
	</div>
</div>