body{
	margin: 0;
 	font-family: "Lato", sans-serif;
}

.botones-sesion-container{
  display: flex;
  align-items: center;
}
.botones-sesion-contenido{
  margin: 0 auto;
  padding: 10px;
}
.cerrar-sesion-btn{
  right: 10px;
  top: 11px;
  position: fixed;
}
.show-username{
  position: absolute;
  right: 135px;
  top: 15px;
  color: white !important;

}
.menu-lateral-container {
    height: auto;
    width: auto;
    position: absolute;
    z-index: 1;
    padding: 20px;
    right: 60px;
    left: 60px;

}

.menu-lateral-container-title {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ddd   ;
  display: block;
}

.main-container { 
  margin-top: 50px;
}

.container{
	margin-left: 0;
}

.logo-hsh-home{
	width: 600px;
}

.bt-ingresar {
  margin-top: 25px;
  right: 25px;
  position: absolute;
}

.subasta-activa {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00a1e1;
}