body{
	margin: 0;
 	font-family: "Lato", sans-serif;
}

.botones-sesion-container{
  display: flex;
  align-items: center;
}
.botones-sesion-contenido{
  margin: 0 auto;
  padding: 10px;
}
.cerrar-sesion-btn{
  right: 10px;
  top: 11px;
  position: fixed;
}
.show-username{
  position: absolute;
  right: 135px;
  top: 15px;
  color: white !important;

}
.menu-lateral-container {
    height: auto;
    width: auto;
    position: absolute;
    z-index: 1;
    padding: 20px;
    right: 60px;
    left: 60px;

}

.menu-lateral-container-title {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ddd   ;
  display: block;
}

.main-container { 
  margin-top: 50px;
}

.container{
	margin-left: 0;
}

.logo-hsh-home{
	width: 600px;
}

.bt-ingresar {
  margin-top: 25px;
  right: 25px;
  position: absolute;
}

.subasta-activa {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00a1e1;
}


/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-top: 50px;
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}