.navbar-container{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999!important;
}
.navbar{
	height: 50px;
}

.logo-hsh{
	width: 270px;
}

.logo-hsh-casa{
	width: 36px;
	position: fixed;
	left: 20px;
	top: 7px;
}
.bg-dark {
    background-color: #57799c !important;
}